<mat-toolbar
  ><img id="logo" src="https://imgsto.s3.ap-south-1.amazonaws.com/logo.webp" />
  <button mat-button id="Movies_Page" routerLink="/">
    <mat-icon>local_movies</mat-icon>Movies
  </button>

  <button mat-button id="Games_Page" routerLink="/games">
    <mat-icon>gamepad</mat-icon>&nbsp;Games
  </button>
  <span></span>
  <button mat-stroked-button class="mobile-search" (click)="showbar()">
    <mat-icon>search</mat-icon>
  </button>
  <form class="desktopform" #search="ngForm">
    <mat-form-field appearance="outline">
      <mat-label>Quick Search</mat-label>
      <input
        matInput
        name="searchmovie"
        ngModel
        required
        minlength="1"
        placeholder="Avengers"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </form>
  <button mat-stroked-button class="search-button" (click)="searchfunc(search)">
    Search
  </button>
</mat-toolbar>
<mat-toolbar id="mobile-toolbar">
  <form class="mobileform" #search="ngForm">
    <mat-form-field appearance="outline">
      <mat-label>Quick Search</mat-label>
      <input
        matInput
        name="searchmovie"
        ngModel
        required
        minlength="1"
        placeholder="Avengers"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </form>
  <button
    mat-stroked-button
    class="search-button-mob"
    (click)="searchfunc(search)"
  >
    Search
  </button>
</mat-toolbar>
