#logo {
  height: 50px;
  width: 40px;
}
#Movies_Page {
  margin: 0rem 1rem 0rem 1rem;
  height: 98%;
}

#Games_Page {
  margin: 0rem 1rem 0rem 0rem;
  height: 98%;
}
.mobile-search {
  display: none;
}
span {
  flex: 1 1 auto;
}
::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.4em 0px !important;
}
::ng-deep .mat-form-field-label-wrapper {
  top: -1.5em;
}

::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  transform: translateY(-1.1em) scale(0.75);
  width: 250px;
}
::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: #259c5a !important;
}
.desktopform {
  margin-top: 1rem;
  font-size: 16px;
  margin-right: 8px;
}
.search-button {
  height: 40px;
  margin-bottom: 5px;
}
#mobile-toolbar {
  margin-top: -1px;
  display: none;
  transition: all 0.2s;
}
@media screen and (max-width: 600px) {
  .mobile-search {
    display: block;
    height: 80%;
  }
  .desktopform {
    display: none;
  }
  .mobileform {
    margin-top: 1rem;
    font-size: 16px;
    margin-right: 8px;
  }
  .search-button {
    display: none;
  }
  .search-button-mob {
    height: 40px;
    margin-bottom: 5px;
  }
}
